@model MathModeling21.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10 content preview">
            @*@Html.DisplayFor(model => model.Body)*@
            @Html.Raw(Model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Images)
        </dt>
        <dd class="col-sm-10">
            @foreach (string img in Model.Images)
            {
                <img src="~/Images/@img" style="max-height:300px;"/>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<style>
    .content { white-space: pre-line; }
    .preview { border: 3px double grey; }
</style>