@model MathModeling21.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
            @if (Model.IsPublished)
            {
                <span style="background-color:purple" class="badge text-white">Published</span>
            }
            else
            {
                <span style="background-color:gainsboro" class="badge text-white">Draft</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/@Model.Image" style="max-height:200px; max-width: 300px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10 content preview blog-article">
            @*@Html.DisplayFor(model => model.Body)*@
            @Html.Raw(Model.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<style>
    .content { white-space: pre-line; }
    .preview { border: 3px double grey; }
</style>