@model IEnumerable<MathModeling21.Models.Article>

@{
    ViewData["Title"] = "Blog posts";
}

<h1>Blog posts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
                @if (item.IsPublished)
                {
                    <span style="background-color:purple" class="badge text-white">Published</span>
                }
                else
                {
                    <span style="background-color:gainsboro" class="badge text-white">Draft</span>
                }
            </td>
            <td class="content"><div class="content">@Html.Raw(item.Body)</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                <a asp-action="ChangePublishStatus" asp-route-id="@item.Id">@(item.IsPublished ? "Un-publish" : "Publish")</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Preview</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .content { max-height: 300px; }
</style>
